@font-face {
    font-family: 'Google Sans Text';
    font-style: normal;
    font-weight: 400;
    src: url("Google Sans Text Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Google Sans Text';
    font-style: italic;
    font-weight: 400;
    src: url("Google Sans Text Italic.otf") format("opentype");
}
@font-face {
    font-family: 'Google Sans Text';
    font-style: normal;
    font-weight: 700;
    src: url("Google Sans Text Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Google Sans Text';
    font-style: italic;
    font-weight: 700;
    src: url("Google Sans Text Bold Italic.otf") format("opentype");
}